.App{
    max-width: 1550px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 5px 6px #f1396d;
    padding: 0px 15px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*----------------------HEADER----------------------*/

header{
    width: 97%;
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box;
    background-color: #ffeaf2;
    box-shadow: 0 5px 10px #f1396d;
}

a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover{
    color: #f1396d;
}

li{
    list-style: none;
}

header ul{
    display: flex;
    padding: 0;
    margin: 0;
}

header ul li{
    padding: 0 1rem;
}

header ul li a{

    font-weight: bold;
}

header img{
    width: 150px;
    border-radius: 100px;
}

header .carrito{
    position: relative;
    cursor: pointer;
} 
header .carrito box-icon{
    width: 45px;
    height: 45px;
}

header .item-total{
    position: absolute;
    top: -1rem;
    right: -1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: red;
}


/*----------------------PRODUCTOS----------------------*/
.title{
    font-size: 2.4rem;
    padding: 12rem 0 0 0;
    color: #f1396d;
}

.products{
    padding: 4rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
}

.product{
    display: flex;
    width: 100%;
    padding: 1px;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.2);
    border: 6px solid transparent;
    border-radius: 5px;
}

.product:hover{
    border: 6px solid #fbc5d8;
}

.product_img img{
    width: 310px;
    height: 310px;
}

.product_footer{
    padding: 1rem;
}

.product_footer h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    font-family:Helvetica, sans-serif;
}

.product_footer p{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 18px;
}

.product_footer .price{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.product .bottom{
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-columns:  2fr 1fr;
    gap: 1rem 2rem;
    padding-bottom: 10px;
}


.bottom .btn{

    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;

    background-color: #ffeaf2;
    max-width: 250px;
    width: 100%;
    font-size: 1.5rem;
    color: #382f32;
    font-weight: 200;

}

.bottom a{
    background-color: #fcd9e5;
    color: #382f32;
    display: grid;
    align-items: center;
    margin-left: -2rem;
    border-radius: 5px;
    justify-content: center;

}

.bottom a:hover{
    font-weight: 600;
}

/*----------------------CART----------------------*/
.carts{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    padding-bottom: 5rem;
    visibility: hidden;
}

.cart{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    scale(.5);
    width: 60%;
    height: 80%;
    border-radius: 8px;
    overflow-x:scroll;
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    background-color: white;
}

.cart h2{
    text-align: center;
    font-size: 2rem;
}

.carts.show{
    visibility: visible;
}

.cart.show{
    transform: translate(-50%, -50%)
    scale(1.1);
    opacity: 1;
    visibility: visible;
}

.cart_close{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
}

.cart_close box-icon:hover{
    fill:crimson;
}

.cart_center{
    width: 90%;
    margin: 0 auto;
}

.cart_item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;  
    width: 80%;
    margin: 2rem auto;
    box-shadow: 0 1px 10px pink;
}

.cart_item img{
    width: 9rem;
    margin-top: 15px;
}

.cart_item h3{
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}
.cart_item .price{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


.cart_item box-icon{
    fill: #f1396d;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cart_item .cantidad{
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px 10px;
}

.cart_item .remove_item box-icon{
    width: 60px;
    height: 80px;
    fill: crimson;
    margin-top: 2rem;
}

.cart_footer{
    text-align: center;
    margin-bottom: 3rem;
}

.cart_footer h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.cart_footer button{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
    background-color: #ffeaf2;
    border-radius: 10px;
}

.cart_footer button:hover{
    background-color: #f1396d;
    color: white;
}


/*----------------------DETAILS----------------------*/

.details{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    padding-bottom: 5rem;
}

.detail{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    scale(.5);
    width: 60%;
    height: 80%;
    border-radius: 8px;
    overflow-x:scroll;
    transition: all 300ms ease-in-out;
    opacity: 0;
    background-color: white;
    transform: translate(-50%, -50%)
    scale(1.1);
    opacity: 1;
    visibility: visible;
}

.detail h2{
    text-align: center;
    font-size: 2rem;
}



.detail_close{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
    position: fixed;
}

.detail_close box-icon:hover{
    fill:crimson;
}

.body_details{
    display: grid;
}

.body_details p{
    text-align: center;
    font-size: 1.5rem;
    margin: 15px auto;
}

.body_details img{
    width: 230px;
    margin: 20px auto;
    border-radius: 20px;
    border: 4px solid gainsboro;
}

.body_details a{
    margin: 10px auto;
}

.body_details button{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
    background-color: #ffeaf2;
    border-radius: 10px;
}

.body_details button:hover{
    background-color: #f1396d;
    color: white;
}

/*----------------------DETAILS----------------------*/


.orders{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    padding-bottom: 5rem;
}

.order{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    scale(.5);
    width: 60%;
    height: 80%;
    border-radius: 8px;
    overflow-x:scroll;
    transition: all 300ms ease-in-out;
    opacity: 0;
    background-color: white;
    transform: translate(-50%, -50%)
    scale(1.1);
    opacity: 1;
    visibility: visible;
}

.order h2{
    text-align: center;
    font-size: 2rem;
}



.order_close{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem;
    position: fixed;
}

.order box-icon:hover{
    fill:crimson;
}


.body_order{
    margin: 50px auto;
}

.body_order button{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
    background-color: #ffeaf2;
    border-radius: 10px;
    margin: 10px auto;
}

.order_details button:hover{
    background-color: #f1396d;
    color: white;
}


.body_order form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: auto auto;
    margin: auto auto;
}

.body_order {
    display: block;
    margin-bottom: 8px;

}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.body_order button{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    border: 0;
    cursor: pointer;
    background-color: #ffeaf2;
    border-radius: 10px;
}

.body_order button:hover{
    background-color: #f1396d;
    color: white;
}


/* Estilos para la tarjeta */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Estilos para los párrafos dentro de la tarjeta */
.card p {
  margin: 5px 0;
}

/* Aplicar estilos a los párrafos con clase específica */
.card .paid {
  color: green;
}

.card .pending {
  color: red;
}

/*----------------------MEDIA----------------------*/

@media only screen and (max-width: 1400px) and (min-width: 600px) {
    .img-logo img{
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    .cart_item{
        width: 92%;
    }


}

@media only screen and (max-width: 700px){
    .carts{
        margin-right: 5px;
    }
    
    .cart{
        width: 100%;
        height: 100%;
        padding: 1rem;
        
    }

    .cart img{
        margin-top: 0;
    }

    .cart_item h3{
        margin-top: 0;
        font-size: 1.2rem;
    }

    .cart .price{
        font-size: 1.2rem;
    }

    .cart .cantidad{
        font-size: 1.2rem;
    }

    .cart_item .remove_item box-icon{
        width: 30px;
        height: 40px;
        fill: crimson;
        margin-top: 2rem;
    }

    .cart_item box-icon{
        fill: #f1396d;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .product{
        max-width: 85%;
    }

    .order{
        width: 100%;
        height: 100%;
    }

    .orders{
        width: 100%;
        height: 100%;
    }

    .body_order{
        height: 100%;
        max-width: 100%;
        padding-bottom: 50px;
    }

    .card{
        max-width: 90%;
        max-height: 90%;
        margin-bottom: 10px;
    }

    #getOrders{
        max-width: 80%;
    }

    #myForm{
        max-width: 80%;
        height: 100%;
        margin-bottom: 20px;
    }

    #myForm label{
        margin-top: 10px;
    }
    #myForm input{
        margin-top: 10px;
    }

    .details{
        width: 100%;
        height: 100%;
    }

    .detail{
        width: 80%;
        height: 80%;
        padding: 50px;
    }

    .detail_close{
        margin-top: 0px;
    }

    .btn {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 600px){
    header ul{
        display: none;
    }


}

@media only screen and (max-widht: 450px){
    .cart_item h3{
        display: none;
    }
}
